/*--Font--*/
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c7c7c7;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #005076;
  border-radius: 50px;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: black;
}
h1 {
  color: black;
  margin-bottom: 1rem;
  line-height: 1.1;
  font-size: 5rem;
  font-family: "Helvetica", sans-serif;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 7rem;
  }
}
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 0rem;
}
.block__header {
  text-align: center;
}
.block__heading {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .block__heading {
    text-align: left;
  }
}
.block--dark {
  background: #f8f9fa;
  color: #000;
}
.block--dark .block__heading {
  color: black;
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.hero__tagline {
  font-family: "Quicksand", serif;
  font-size: 2rem;
  color: black;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__image {
  width: 80%;
  margin-left: 35px;
}
@media screen and (min-width: 1024px) {
  .hero__image {
    width: 65%;
    margin-left: 25%;
    margin-top: 15%;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 10;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* NavBar */
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:hover {
  background-color: transparent;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar-brand img {
  height: 45px;
  width: 45px;
}
.navbar-brand i {
  color: #005076;
  margin-left: 3px;
  letter-spacing: 0.5px;
}
.animated {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.animated span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.animated span {
  background: #005076;
}
.animated span:nth-child(1) {
  top: 0px;
}
.animated span:nth-child(2),
.animated span:nth-child(3) {
  top: 10px;
}
.animated span:nth-child(4) {
  top: 20px;
}
.animated.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}
.animated.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.animated.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.animated.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}
/*--Card Style--*/
.about {
  max-width: 1200px;
  margin: 0 auto;
}
.card_text {
  font-size: 24px;
  font-family: "Quicksand", serif;
  font-weight: 400;
  text-align: center;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards_item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
.card {
  background-color: #fff;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px;
}
.card_content {
  padding: 1rem;
  background: #005076;
}
.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-family: "Quicksand", serif;
}
.text-center {
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact .content h2 {
  font-family: "Quicksand", serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.container_contact {
  display: flex;
}
@media screen and (min-width: 768px) {
  .container_contact {
    display: flex;
    align-items: center;
    margin-left: 75px;
  }
}
.container_contact .contactInfo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.container_contact .contactInfo .box {
  position: relative;
  display: flex;
}
.container_contact .contactInfo .box .text {
  font-family: "Quicksand", serif;
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.container_contact .contactInfo .box .text h3 {
  font-size: 20px;
  font-weight: 500;
  color: #005076;
}
.btn-group {
  margin-left: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .btn-group {
    margin-left: 95px;
  }
}

/* Footer */
.footer_img {
  height: 45px;
  width: 45px;
}
.bg-footer {
  padding: 40px 0 20px;
  border-top: 1px solid #020202;
}
.footer-heading {
  color: #005076;
  letter-spacing: 2px;
}
.footer-link a {
  color: #005076;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}
.footer-social-icon {
  font-size: 18px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}
.phone {
  background-color: #1266f1;
  color: #ffffff;
}
.instagram {
  background-color: #e91e63;
  color: #ffffff;
}
.whatsapp {
  background-color: #00b74a;
  color: #ffffff;
}
.gmail {
  background-color: #f93154;
  color: #ffffff;
}
.footer-heading {
  position: relative;
  padding-bottom: 14px;
}
.footer-heading:after {
  content: "";
  width: 45px;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 2px solid #036999;
}

/* nprogress */
#nprogress .bar {
  height: 2px;
  background: #005076;
}
#nprogress .spinner-icon {
  border-top-color: #f8f9fa;
  border-left-color: #f8f9fa;
}
